:root{
    --background: black;
    --color:white;
    --background-body:white;
}
html{
    background-color: var(--background-body);
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-light {
    appearance: none;
    height: 60px;
    width: 120px;
    background-color: var(--background);
    border-radius: 33px;
    position: relative;
    cursor: pointer;

    box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.58) inset;
    -webkit-box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.58) inset;
    -moz-box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.58) inset;
    -webkit-transition: all 0.5s 0.1s ease-in;
    -moz-transition: all 0.5s 0.1s ease-in;
    -o-transition: all 0.5s 0.1s ease-in;
    transition: all 0.5s 0.1s ease-in;
}

.switch-light::before {
    content: " ";
    height: 50px;
    width: 50px;
    background-color: var(--color);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px;
    transition: 0.5s;
    -webkit-transition: all 0.5s 0.1s ease-in;
    -moz-transition: all 0.5s 0.1s ease-in;
    -o-transition: all 0.5s 0.1s ease-in;
    transition: all 0.5s 0.1s ease-in;
}


.switch-light:checked {
    background-color: var(--color);
    transition: 0.5s;
   
}

.switch-light:checked:before {
    background-color: var(--background);
    left: 64px;
}

.down {
    background-color: var(--background-body);
}